body{
    font-family: sans-serif;
    margin:0;
    padding: 60px 0 0 82px;
    background-color: rgb(243, 240, 240);

} 
.header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    margin: 0 0 10px 0;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid #adadad ;
    z-index: 100;
}
.left-section{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 0 0 0 20px;
}
.menu{
    height: 30px;

}
.logo{
    height: 30px;
}

.middle-section{
    display: flex;
    flex: 1;
    align-items: center;
    width: 500px;
    height: 40px;
    margin: 0 100px 0 100px;
}
.search-bar{
    width: 100%;
    outline: none;
    border: 1px solid #adadad;
    height: 30px;

}
.search-bar::placeholder{
    font-size: 18px;
}
.src-icon{
    border: 1px solid #adadad;
    width: 50px;
    background-color: rgb(245, 241, 241);
    height: 28px;
    border: 1px solid #adadad;
}
.voice-button{
    background: rgb(245, 241, 241);
    margin: 0 0 0 10px;
    border-radius: 20px;
    height: 30px;
    
}
.right-section{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.upload{
    height: 30px;

}
.menu-2{
    height: 30px;
}
.note{
    position: relative;
}
.notification{
    height: 30px;
  
}
.notification-2{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width:15px;
    height: 15px;
    border-radius: 7.5px;
    font-size: 10px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: white;

}





   
.profile-pic-2{
    height: 30px;
    border-radius: 15px;
}
.side-bar{
    /*
    
    justify-content: space-between;
    */
    flex-direction: column;
    display: flex;
    align-content: center;
    position: fixed;
    top: 44;
    bottom: 0px;
    left: 0px;
    width: 80px; 
    z-index: 200;
    background-color: white;
                                                                                                       
}
.icons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 12px;

}
.icon{
    height: 30px;
}

.pic{
    z-index: 200;
    width: 100%;
    
    
}
.image{
    position: relative;
}

.time-stamp{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    z-index: 250;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    

}
.video-stats p {
    
    margin-top: 0;
}
.box{
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;  
    row-gap: 20px;
    column-gap: 20px;

}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    
}
.container-2{
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-top: 5px;
}